<a href="https://colab.research.google.com/github/lizzietsitsishvili/ECON3916-Statistical-Machine-Learning/blob/main/Lab%206/%5BLab_6%5D_The_Architecture_of_Bias.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import seaborn as sns
import pandas as pd
import numpy as np

# 1. Data Ingestion (The Population)
df = sns.load_dataset('titanic')
print(f"Total Population: {len(df)}")
print(f"Population Survival Rate: {df['survived'].mean():.4f}")

# 2. Manual Shuffle (Simulation of Sampling)
# We set a seed to ensure reproducibility for the lesson,
# but in production, this variance happens naturally.
np.random.seed(2026)
indices = np.random.permutation(len(df))

Total Population: 891
Population Survival Rate: 0.3838

In [8]:
indices

array([747, 734, 871, 242, 527, 885, 121, 520, 303, 167, 203, 263, 260,
       567,  92, 494, 574, 738, 309, 545, 851, 218, 358, 664, 479, 237,
       442, 134, 559, 705, 101, 212, 408, 863, 250, 506, 283, 179,  74,
       639, 313,  16, 610, 504, 233, 542, 405, 831, 498, 466, 810, 298,
       426, 206, 427, 507,  56, 641, 872, 796,  52, 103, 148, 865, 323,
       197, 510, 317, 737, 839,   6, 374, 146, 253, 844, 634, 618, 330,
       173, 825, 389, 243,  39, 779, 696, 501,  18, 751, 882,   5, 123,
       760, 687, 593, 695, 274, 553,   0, 159, 730, 422, 602,  51, 402,
       461, 325, 151, 535,  26, 380, 855, 525, 670, 693, 764, 141, 650,
        57, 457, 293, 372,  88, 443, 377, 489, 561, 321, 879, 262,  62,
       643, 615, 522, 883, 714, 811, 596, 284, 172, 232, 236, 220, 439,
       625, 556, 716, 211,   2,  30, 688, 199, 712, 647, 409, 315, 452,
       866, 305, 793, 573, 732, 198, 791, 279, 757, 663, 539, 354, 360,
        71, 674,  60, 105, 118, 588, 807, 285, 114,  76, 890, 337,  83,
       814, 132, 108, 815,  82,  44, 778, 822, 849, 246, 804, 785, 258,
       449, 113, 826, 656, 592, 392, 356, 420, 164,  23, 599, 845, 651,
       803, 862, 583, 617, 431, 543, 517, 336, 614, 348, 773, 174, 772,
       447, 398, 306, 781, 184, 562, 227, 282, 723, 823, 492, 396, 753,
       451, 832, 187, 147, 268, 162, 433,  29, 787, 192, 165, 281, 275,
       366, 143, 638, 367,  90, 428, 836, 251, 889, 551,  14, 499, 194,
       677, 585, 729, 160, 837, 703,   8, 181, 222, 745, 657, 873, 485,
       437, 411, 518, 153, 648, 404, 100, 458, 777, 842, 690, 701, 144,
       590, 300, 739, 124, 247, 505, 379, 195, 675, 429, 349, 633, 331,
       230, 673, 430, 207,  61, 332, 205, 441, 560, 742, 111, 719, 841,
       758, 519, 754,  24, 880, 646, 686, 818, 749, 414, 668, 424, 371,
       490, 798, 400, 529, 606, 652, 304, 425, 388, 338, 154, 208, 157,
       835, 533, 126, 329, 387, 368, 130, 595, 829,  36, 200, 846, 155,
       850,  78, 549, 795, 710, 196, 713, 177, 472,  31,  59, 125, 741,
       487,  21, 631, 817, 225, 808, 782, 568, 598, 528, 440, 584, 609,
       881, 513, 384, 552, 869,  84, 857,  53, 824, 415, 756, 468, 327,
       381, 685, 115, 255, 128, 736, 532, 322, 702, 122, 280, 465,  86,
        50, 582, 886, 133, 193, 482, 496, 523, 537, 569, 856, 410, 640,
       204,  42, 386, 612, 186, 827, 759, 666,  72, 210,   1, 239, 654,
       554, 175,  54, 191, 611,  87, 597, 278,  80, 483, 474, 477,  55,
       362, 799, 221,  15, 530, 224, 189, 312, 310, 445, 694, 621, 692,
        99, 491, 627, 168, 423,  37, 286, 375, 214, 261, 689, 138, 653,
       746, 240, 290, 136, 629, 244, 357, 119,  41,   3,  34, 235, 102,
       484, 486, 748, 109, 784, 347, 884, 566, 183, 740, 289, 622,  96,
       727, 743, 254, 271, 127, 805, 587, 145, 684, 581, 385, 256, 273,
       495, 877, 678,  91, 806, 577, 363, 766,   7, 570, 797, 265, 626,
       503, 637, 421, 821, 540, 509, 190, 149, 140, 715, 722,  64, 874,
       448, 680, 382, 158, 840, 399,  11,  12,  45, 875, 619, 355,  40,
       786, 524, 344, 888, 287, 460, 234, 106, 854, 603, 700, 343,  35,
       616, 887, 383, 156, 150, 131, 744, 820, 320, 213,  10, 276, 864,
       771, 876, 107, 314, 847, 578, 790, 607, 345, 346, 453,  94, 767,
       721, 475, 718, 774, 776, 536, 406, 403, 709,  63,  81, 318, 752,
       572, 170, 277, 576, 550, 373, 672, 813, 586, 248, 299, 302, 830,
       558, 493,   4, 600, 564, 488, 511, 655, 544, 645, 219, 137, 801,
       819,  46, 683, 497, 350, 555, 394, 436, 565, 464, 455, 341, 180,
       516, 861, 735, 326,  65, 878, 169, 669, 370,   9, 681, 538, 178,
       812, 833, 163, 589, 848, 531, 217, 682, 591, 792, 725, 661,  93,
       308, 867, 546, 697, 110, 843, 698, 783, 120, 662, 142, 395, 295,
       376, 711, 512, 335, 456, 809, 176, 231, 301, 770, 667, 450, 802,
       185, 658, 459, 471, 340,  68, 342, 720, 104, 521, 769, 765, 166,
       659, 750,  13, 708, 632, 728, 223, 238, 548, 228, 580, 267, 352,
       444, 630, 129, 594, 691, 397,  67, 860, 462, 557, 755, 297, 407,
       241, 859, 704, 476, 665, 780, 699, 454, 434, 605, 635, 679, 571,
        48, 416, 393, 202, 731, 563, 117, 446, 316,  70, 319, 378,  20,
       469, 209, 266, 575,  97,  89, 171, 470, 473, 272, 328, 620,  32,
       636, 502, 182, 768,  98, 508,  22, 604,  38, 644,  95, 353, 547,
       264, 339, 419,  85, 369, 726, 269, 418, 401, 733, 229,  33, 789,
       707, 432, 215, 852, 364, 359, 270, 853,  69, 601, 514,  19, 579,
       500, 188, 112, 307, 478, 252, 334, 870,  43, 858,  66, 161, 724,
       834, 676, 788, 706, 800, 391, 526, 763, 139,  75,  79, 534,  58,
       613, 365, 288, 868,  73, 259, 311, 671, 216, 291, 226, 467,  49,
       152, 649, 481, 292, 515, 245, 296, 249, 838, 351, 361, 660, 413,
       463,  47, 116, 201, 762,  17, 828, 624, 324,  25, 294, 816, 417,
       623, 135, 608, 775, 761, 480,  27, 717, 438, 642,  28, 435, 412,
       628, 541, 333,  77, 794, 390, 257])

In [12]:
# 3. Cut the deck (80/20 Split)
split_point = int(len(df)* 0.8)
split_point

# Slicing the shuffled indices
train_idx = indices[:split_point]
test_idx = indices[split_point:]

# Creating the subsets
train_set = df.loc[train_idx]
test_set = df.loc[test_idx]

# 4. Bias Check (The Delta)
train_surv = train_set['survived'].mean()
test_surv = test_set['survived'].mean()
delta = abs(train_surv - test_surv)

print(f"Train Survival Rate: {train_surv:.4f}")
print(f"Test Survival Rate:  {test_surv:.4f}")
print(f"Sampling Bias (Delta): {delta:.4f}")

Train Survival Rate: 0.3736
Test Survival Rate:  0.4246
Sampling Bias (Delta): 0.0510

In [13]:
df.corr(numeric_only=True)

,survived,pclass,age,sibsp,parch,fare,adult_male,alone
survived,1.000000,-0.338481,-0.077221,-0.035322,0.081629,0.257307,-0.557080,-0.203367
pclass,-0.338481,1.000000,-0.369226,0.083081,0.018443,-0.549500,0.094035,0.135207
age,-0.077221,-0.369226,1.000000,-0.308247,-0.189119,0.096067,0.280328,0.198270
sibsp,-0.035322,0.083081,-0.308247,1.000000,0.414838,0.159651,-0.253586,-0.584471
parch,0.081629,0.018443,-0.189119,0.414838,1.000000,0.216225,-0.349943,-0.583398
fare,0.257307,-0.549500,0.096067,0.159651,0.216225,1.000000,-0.182024,-0.271832
adult_male,-0.557080,0.094035,0.280328,-0.253586,-0.349943,-0.182024,1.000000,0.404744
alone,-0.203367,0.135207,0.198270,-0.584471,-0.583398,-0.271832,0.404744,1.000000

In [15]:
from sklearn.model_selection import train_test_split

# Stratify by 'pclass' ensures the distribution of classes is identical
X_train, X_test = train_test_split(df, test_size=0.2,stratify=df['pclass'], random_state=42)

print("\n--- Stratified Split ---")
print("Train Class Dist:\n", X_train['pclass'].value_counts(normalize=True))
print("Test Class Dist:\n", X_test['pclass'].value_counts(normalize=True))

--- Stratified Split ---
Train Class Dist:
 pclass
3    0.550562
1    0.242978
2    0.206461
Name: proportion, dtype: float64
Test Class Dist:
 pclass
3    0.553073
1    0.240223
2    0.206704
Name: proportion, dtype: float64

In [17]:
from scipy.stats import chisquare

# 1) Define observed and expected arrays
observed = [450, 550]  # [Control, Treatment]
expected = [500, 500]  # planned 50/50 split out of 1000

# 2) Calculate Chi-Square statistic and p-value
chi2_stat, p_value = chisquare(f_obs=observed, f_exp=expected)

print(f"Chi-square statistic: {chi2_stat:.6f}")
print(f"p-value: {p_value:.6f}")

# 3) Print conclusion based on threshold
if p_value < 0.01:
    print("CRITICAL FAILURE: Sample Ratio Mismatch (SRM) Detected. Check Load Balancer.")
else:
    print("Variance is within natural limits.")

Chi-square statistic: 10.000000
p-value: 0.001565
CRITICAL FAILURE: Sample Ratio Mismatch (SRM) Detected. Check Load Balancer.